[submodule "third_party/espeak-ng"]
	path = third_party/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "third_party/pcaudiolib"]
	path = third_party/pcaudiolib
	url = https://github.com/espeak-ng/pcaudiolib.git
[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
